In [21]:
# Your code here - remember to use markdown cells for comments as well!

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


pd.set_option('display.width', 1000)
mg_dict = {}
for year in range(1977,2021):
    mg_dict[year]= pd.read_csv("zippedData/bom-budget-and-genres-{}.csv".format(year))

In [2]:
for year in range(1977,2021):
    mg_dict[year]["year"] = year

In [3]:
mg_dict[2015]

                                       Unnamed: 0   domestic  international   worldwide       budget                                             genres                                       title  year
0      /release/rl2371716609/?ref_=bo_yld_table_1  652270625   1.018130e+09  1670400637  150000000.0                  ['Action', 'Adventure', 'Sci-Fi']                              Jurassic World  2015
1      /release/rl2691925505/?ref_=bo_yld_table_2  936662225   1.131561e+09  2068223624  245000000.0                  ['Action', 'Adventure', 'Sci-Fi']  Star Wars: Episode VII - The Force Awakens  2015
2       /release/rl675644929/?ref_=bo_yld_table_3  459005868   9.438000e+08  1402805868  250000000.0                  ['Action', 'Adventure', 'Sci-Fi']                     Avengers: Age of Ultron  2015
3      /release/rl4016604673/?ref_=bo_yld_table_4  356461711   5.011495e+08   857611174  175000000.0  ['Adventure', 'Animation', 'Comedy', 'Drama', ...                                  Inside Out  2015
4      /release/rl1045661185/?ref_=bo_yld_table_5  353007020   1.162041e+09  1515047671  190000000.0                ['Action', 'Adventure', 'Thriller']                                   Furious 7  2015
..                                            ...        ...            ...         ...          ...                                                ...                                         ...   ...
841  /release/rl1632667137/?ref_=bo_yld_table_842      14344   3.400000e+01       14378          NaN                                          ['Drama']                                  Exhibition  2015
842  /release/rl1316783617/?ref_=bo_yld_table_843         78            NaN          78          NaN                                         ['Comedy']                              Paranoid Girls  2015
843   /release/rl998016513/?ref_=bo_yld_table_844         74            NaN          74          NaN                                          ['Drama']        Confession of a Child of the Century  2015
844   /release/rl476218881/?ref_=bo_yld_table_845      21286            NaN       21286          NaN                                          ['Drama']                                     Memphis  2015
845   /release/rl593331713/?ref_=bo_yld_table_846      71717            NaN       71717          NaN                                ['Drama', 'Sci-Fi']                        Je t'aime, je t'aime  2015

[846 rows x 8 columns]

In [4]:
movies = pd.concat(list(mg_dict.values()))

In [5]:
movies['reference'] = movies['Unnamed: 0']

In [6]:
movies = movies[['title', 'domestic', 'international', 'worldwide', 'budget', 'genres', 'year', 'reference']]

In [7]:
movies

                                                 title   domestic  international  worldwide      budget                                        genres  year                                     reference
0                   Star Wars: Episode IV - A New Hope  307263857    195751992.0  503015849  11000000.0  ['Action', 'Adventure', 'Fantasy', 'Sci-Fi']  1977    /release/rl2759034369/?ref_=bo_yld_table_1
1                                             The Deep   47346365            NaN   47346365         NaN          ['Adventure', 'Mystery', 'Thriller']  1977    /release/rl3561784833/?ref_=bo_yld_table_2
2                                 The Spy Who Loved Me   46838673            NaN   46838673         NaN           ['Action', 'Adventure', 'Thriller']  1977    /release/rl2004059649/?ref_=bo_yld_table_3
3                                             Oh, God!   41687243            NaN   41687243         NaN                         ['Comedy', 'Fantasy']  1977    /release/rl2137425409/?ref_=bo_yld_table_4
4                             Exorcist II: The Heretic   30749142            NaN   30749142         NaN                                    ['Horror']  1977    /release/rl1582335489/?ref_=bo_yld_table_5
..                                                 ...        ...            ...        ...         ...                                           ...   ...                                           ...
301  I Do Not Care If We Go Down in History as Barb...      11307        27864.0      39171         NaN                           ['Comedy', 'Drama']  2020  /release/rl3876095489/?ref_=bo_yld_table_302
302                                           The Load      28410            NaN      28410         NaN                                     ['Drama']  2020  /release/rl1460372993/?ref_=bo_yld_table_303
303                                       Asako I & II      25559       601543.0     627102         NaN                          ['Drama', 'Romance']  2020  /release/rl1359513089/?ref_=bo_yld_table_304
304                                   Chained for Life      17431            NaN      17431         NaN                                     ['Drama']  2020  /release/rl1292600833/?ref_=bo_yld_table_305
305                                 Shooting the Mafia      10881        21161.0      32042         NaN                  ['Biography', 'Documentary']  2020  /release/rl2366342657/?ref_=bo_yld_table_306

[19662 rows x 8 columns]

In [8]:
movies.isnull().sum()

title                0
domestic             0
international     8884
worldwide            0
budget           15255
genres               0
year                 0
reference            0
dtype: int64

In [9]:
len(movies['genres'].unique())

1688

In [10]:
type(movies.loc[4, 'domestic'])

pandas.core.series.Series

In [11]:
movies.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   0,
            ...
            296, 297, 298, 299, 300, 301, 302, 303, 304, 305], dtype='int64', length=19662)

In [12]:
movies.columns

Index(['title', 'domestic', 'international', 'worldwide', 'budget', 'genres', 'year', 'reference'], dtype='object')

In [13]:
movies.loc[3, 'title']

3                                             Oh, God!
3                            Every Which Way but Loose
3                        Star Trek: The Motion Picture
3                                    Kramer vs. Kramer
3                                   For Your Eyes Only
3                                       On Golden Pond
3                                       Trading Places
3                                       The Karate Kid
3                                             Rocky IV
3                                       Back to School
3                                     The Untouchables
3                                                  Big
3                                             Rain Man
3                         Teenage Mutant Ninja Turtles
3                             The Silence of the Lambs
3                       Home Alone 2: Lost in New York
3                                 Sleepless in Seattle
3                                     The Santa Clause
3                                           Pocahontas
3                                             The Rock
3                                        Air Force One
3                         There's Something About Mary
3                                          Toy Story 2
3                                    The Perfect Storm
3                                          Rush Hour 2
3                                                Signs
3        The Lord of the Rings: The Return of the King
3             Harry Potter and the Prisoner of Azkaban
3    The Chronicles of Narnia: The Lion, the Witch ...
3                                    The Da Vinci Code
3             Pirates of the Caribbean: At World's End
3                                              Hancock
3                          The Twilight Saga: New Moon
3                                           Iron Man 2
3                                 The Hangover Part II
3                                              Skyfall
3                                         Man of Steel
3                                       The Lego Movie
3                                           Inside Out
3                              The Secret Life of Pets
3                       Guardians of the Galaxy Vol. 2
3                       Jurassic World: Fallen Kingdom
3                                            Frozen II
3                              Jumanji: The Next Level
Name: title, dtype: object

In [14]:
movies.reset_index(inplace=True, drop=True)

In [15]:
movies["international"] = movies["worldwide"] - movies["domestic"]
movies["international"]

0        195751992
1                0
2                0
3                0
4                0
           ...
19657        27864
19658            0
19659       601543
19660            0
19661        21161
Name: international, Length: 19662, dtype: int64

In [16]:
#genres_df = movies.drop(genres_df[len(genres_df["genres"]) == 0])
#genres_df.loc[genres_df[len(genres_df["genres"]) == 0]]
#len(genres_df["genres"][0])
#genres_df[genres_df['genres'].map(lambda d: len(d)) != 0]
#adults.loc[(adults["sex"]=="Female") & (adults["education"]=="Bachelors")]

In [17]:
# can only do this once
movies["genres"] = movies["genres"].apply(lambda x: eval(x))

In [18]:
genres = []
def add_genres(x):
    for genre in x:
        if genre not in genres:
            genres.append(genre)
movies["genres"].apply(lambda x: add_genres(x))
genres

['Action',
 'Adventure',
 'Fantasy',
 'Sci-Fi',
 'Mystery',
 'Thriller',
 'Comedy',
 'Horror',
 'Drama',
 'Romance',
 'Music',
 'Musical',
 'Sport',
 'Animation',
 'War',
 'Biography',
 'Crime',
 'Family',
 'Western',
 'Documentary',
 'History',
 'Film-Noir',
 'Short',
 'Adult',
 'News',
 'Talk-Show',
 'Reality-TV']

In [19]:
for genre in genres:
    movies[genre] = movies['genres'].apply(lambda x: int(genre in x))

In [20]:
movies.drop(columns=["genres"]).to_csv("zippedData/movies-genre-onehot.csv")